*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    background-color: #EC7AD0;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 60px;
}

main{
    background-color: #6547DB;
}

.frontbillede{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.overskrift{
    text-align: center;
    margin: 0px 0px 25px 0px;
    font-weight: bold;
    font-size: 35px;
    color: white;
}

.brødtekst{
    margin: 15px 250px 15px 250px;
    padding: 10px;
    font-size: 28px;
    color: white;
}

.branchingScenarie{
    color: white;
    font-size: 32px;
    text-align: center;
}

#startButton{
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 250px;
    height: 50px;
    font-size: 25px;
    background-color: #DBCB46;
    border: solid 3px black;
}

#startButton:hover{
    background-color: #f1e67b;
    animation: ease-in-out 0.5s;
}

.slutTekst{
    color: white;
    font-size: 32px;
    text-align: center;
}

footer{
    background-color: #6547DB;
}

.footerTekst{
    margin: 0px 0px 0px 20px;
}